    <% @comedians.each do |comedian|  %>
    <div class="comedian">
      <h2><%= comedian.name %></h2>
      <li style="list-style-type:none"><img src=<%= comedian.photo_url %></li>
      <li><%= comedian.age %> years old</li>
      <li><%= comedian.city %></li>
      <li>Special Count: <%=comedian.specials.count %></li>

      <h3>Their Specials</h3>
        <% comedian.specials.each do |special| %>
          <h4><%= special.title%></h4>
          <ul class="nobull"
            <li>run time: <%= special.run_time%> minutes</li>
          </ul>
          <% end %>
    </div>
    <% end %>
